VITE_SUPABASE_URL=https://whpqheywobndaeaikchh.supabase.co
VITE_SUPABASE_ANON_KEY=
VITE_HUB_URL=https://digicollabo.com
VITE_APP_NAME=booking
VITE_CART_URL=https://cart.digicollabo.com
VITE_PAGE_RENDERER_URL=https://page.digicollabo.com
VITE_BOOK_URL=https://book.digicollabo.com
